<div class="html">
    <div class="header">
        <h1 class="school">School</h1>
    </div>
    <div class="name">
        <h2 class="adrin">Sam</h2>
    </div>
    <br>
    <div style="clear: both;" class ="activate">
        <h2 class="white">Now pay your<br>fee monthly with @</h2><br>
        <div>
            <h1 class="per">0%</h1>
            <h4 class="alignr">Interest<br>pre-approve credit line</h4>
        </div>
        <br>
        <br>
        <h5 class="ann">Annual fee</h5>
        <h2 class="price ">$3200</h2>
        <button class="button" mat-raised-button (click)="openDailog()">Activate Now</button>
    </div>
</div>

<router-outlet></router-outlet>
